<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.kuper.tz.system.dao.ControllerDao">

    <resultMap id="controllerMap" type="net.kuper.tz.system.entity.ControllerEntity">
        <result property="id" column="id"/>
        <result property="controller" column="controller"/>
        <result property="name" column="name"/>
        <result property="module" column="module"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
        <result property="deleteTime" column="delete_time"/>
    </resultMap>

    <sql id="columns">
        `t`.`id` ,
        `t`.`controller` ,
        `t`.`name` ,
        `t`.`module` ,
        `t`.`update_time` ,
        `t`.`create_time` ,
        `t`.`delete_time`
    </sql>

    <sql id="select_normal">
        select
        <include refid="columns"/>
        from  `sys_controller` as `t`
    </sql>

    <sql id="dft_where">
        <if test="controller != null and controller.trim() != ''">
            AND `t`.`controller` LIKE concat('%',#{controller} ,'%')
        </if>
        <if test="name != null and name.trim() != ''">
            AND `t`.`name` LIKE concat('%',#{name} ,'%')
        </if>
        <if test="module != null and module.trim() != ''">
            AND `t`.`module` = #{module}
        </if>
    </sql>

    <sql id="dft_order">
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                <choose>
                    <when test="'controller' == sidx ">
                        order by `t`.`controller`
                    </when>
                    <when test="'name' == sidx ">
                        order by `t`.`name`
                    </when>
                    <when test="'module' == sidx ">
                        order by `t`.`module`
                    </when>
                    <otherwise>
                        order by `t`.`create_time`
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by `t`.`create_time`
            </otherwise>
        </choose>
        <choose>
            <when test="stype == 'ASC'">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
    </sql>


    <select id="queryObject" resultMap="controllerMap">
        <include refid="select_normal"/>
        where `t`.`id` = #{value}
    </select>

    <select id="queryList" parameterType="map" resultMap="controllerMap">
        <include refid="select_normal"/>
        WHERE t.delete_time is null
        <include refid="dft_where"/>
        <include refid="dft_order"/>
    </select>

    <insert id="save" parameterType="net.kuper.tz.system.entity.ControllerUpdateEntity" >
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select REPLACE(UUID(),'-','') from dual
        </selectKey>
        insert into `sys_controller`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id` ,
            </if>
            <if test="controller != null">
                `controller` ,
            </if>
            <if test="name != null">
                `name` ,
            </if>
            <if test="module != null">
                `module` ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id} ,
            </if>
            <if test="controller != null">
                #{controller} ,
            </if>
            <if test="name != null">
                #{name} ,
            </if>
            <if test="module != null">
                #{module} ,
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="net.kuper.tz.system.entity.ControllerUpdateEntity">
        update `sys_controller`
        <set>
            <if test="controller != null">
                `controller` = #{controller} ,
            </if>
            <if test="name != null">
                `name` = #{name} ,
            </if>
            <if test="module != null">
                `module` = #{module} ,
            </if>
            `update_time` = now() ,
        </set>
        where `id` = #{id}
    </update>

    <update id="delete">
        update `sys_controller` set delete_time = now() where `id` = #{value}
    </update>

    <update id="deleteBatch">
        update `sys_controller` set delete_time = now() where `id` in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


</mapper>